global:
  logging:
    format: json

configs:
  params:
    server.insecure: true

dex:
  enabled: false

server:
  ingress:
    enabled: false

applicationSet:
  enabled: false

notifications:
  enabled: false
