global:
  logging:
    format: json

configs:
  params:
    server.insecure: true
  repositories:
    istio-helm-repo:
      type: helm
      name: istio
      url: https://istio-release.storage.googleapis.com/charts

dex:
  enabled: false

server:
  ingress:
    enabled: false

applicationSet:
  enabled: false

notifications:
  enabled: false
