controller:
  image:
    chroot: true

  allowSnippetAnnotations: true

  config:
    enable-brotli: true
    use-http2: true
    use-forwarded-headers: true

  replicaCount: {{ ingress.replicas }}

  # TODO: enabled this at some point
  metrics:
    enabled: false

  service:
    type: NodePort
    nodePorts:
      http: {{ ingress.nodeport.http }}
      https: {{ ingress.nodeport.https }}

  nodeSelector:

defaultBackend:
  enabled: true

  nodeSelector:

  replicaCount: {{ ingress.defaultBackend.replicaCount }}

rbac:
  create: true

serviceAccount:
  create: true

podSecurityPolicy:
  enabled: false